.headerSec {
    height: 60px;
    background: black;
    width: 100%;
}
.nav-head {
    padding: 40px;
    color: #fff;
    line-height: 50px;
    font-size: 24px;
}
.lgnBtn {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}