body{
   
}
.Inputbox {
    width: 95%;
    height: 60px;
    border: 0px;
    border-bottom: 1px solid black;
    border-right: 0;
    border-top: 0;
    border-left: 0;text-align: left;
}
.Inputbox:focus {
    border-bottom: 1px solid black;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    background: 0;
    outline: 0px;
}